/* menu (note: account for border in height) */
.vpx-menu {
	height: 482px;
	width: 850px;
	background-color: lavender;
	border: 2px solid skyblue;
}

/* categories navigation (left panel) */
.vpx-categories {
	height: 100%;
	width: 150px;
	background-color: skyblue;
	border: 0px solid #000;
	padding: 0px;
	text-align: center;
}

/* category item: items in left panel*/
.vpx-category {
	background-color: powderblue;
	font-family: monospace;
	font-size: medium;
	font-weight: bold;
	margin: 3px;
	text-decoration: none;
}

.vpx-description {
    background-color: skyblue;
}

/* right side menu containing dishes */
.vpx-dishes {
	height: 443px;
	width: 100%;
}

/* dish layout: style for each menu row */
.vpx-dish {
	background-color: aliceblue;
}

/* dish image */
.vpx-dish-image {
	border-right: 2px solid #333;
	border-bottom: 2px solid #000;
}

/* dish name */
.vpx-dish-name {
	font-family: arial;
	font-size: small;
	font-style: italic;
	font-weight: bold;
}

/* dish description */
.vpx-dish-desc {
	font-size: smaller;
}

/* dish rates */
.vpx-dish-rates {
	border-bottom: 1px dotted #000;
	font-family: courier;
	font-size: small;
	font-weight: bold;
}