/* menu (note: account for border in height) */
.vpx-menu {
	height: 485px;
	width: 850px;
	border: 2px solid #ECECEC;
}

/* categories navigation (left panel) */
.vpx-categories {
	height: 100%;
	width: 150px;
	background-color: #ECECEC;
	border: 0px solid #000;
	color: #646464;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

/* category item: items in left panel*/
.vpx-category {
	font-weight: normal;
	font-size: 1.4em;
	margin: 3px;
	text-decoration: none;
}

.vpx-description {
    background-color: transparent;	
}

/* right side menu containing dishes */
.vpx-dishes {
	height: 446px;
	width: 100%;
}

/* dish layout: style for each menu row */
.vpx-dish {
	
}

/* dish image */
.vpx-dish-image {
	border-right: 1px solid #8FACBF;
	border-bottom: 1px solid #8FACBF;
}

/* dish name */
.vpx-dish-name {
	color: #6E3A4A;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

/* dish description */
.vpx-dish-desc {
	color: #266C8F;
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
}

/* dish rates */
.vpx-dish-rates {
	border-bottom: 2px dotted #266C8F;
	color: #406F0D;
	font-weight: normal;
	font-size: 15px;
}

.vpx-info {
	background-color: #FAFAFA;
}