* {
	margin: 0;
}

html,body {
	height: 100%;
}

body {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: small;
	margin: 0px;
	height: 100%;
}

.wrapper {
	width: 800px;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
	background-color: ivory;
	border-left: 1px solid darkSalmon;
	border-right: 1px solid darkSalmon;
	/* the bottom margin is the negative value of the footer's height */
}

.header {
	height: 90px;
	padding: 10px;
	background-color: antiquewhite;
	/*background: url(header.png) no-repeat;*/
}

.footer {
	position: relative;
	width: 800px;
	margin: 0 auto;
	background-color: antiquewhite;
	/*background: url(footer.jpg) no-repeat;*/
}

.footer,.push {
	height: 30px; /* .push must be the same height as .footer */
}