/* menu (note: account for border in height) */
.vpx-menu {
	height: 482px;
	width: 850px;
	background-color: #FFEFD5;
	border: 2px solid #FFEFD5;
}

/* categories navigation (left panel) */
.vpx-categories {
	height: 100%;
	width: 150px;
	background-color: #FFEFD5;
	border: 0px solid #000;
	padding: 0px;
	text-align: center;
}

/* category item: items in left panel*/
.vpx-category {
	font-size: medium;
	font-weight: bold;
	margin: 3px;
	text-decoration: none;
}

/* right side menu containing dishes */
.vpx-dishes {
	height: 443px;
	width: 100%;
}

/* dish layout: style for each menu row */
.vpx-dish {
	
}

/* dish image
.vpx-dish-image {
	border-right: 2px solid #333;
	border-bottom: 2px solid #000;
}
*/
/* dish name */
.vpx-dish-name {
	font-size: small;
	font-weight: bold;
}

/* dish description */
.vpx-dish-desc {
	color: #000;
	font-size: smaller;
	font-style: normal;
	line-height: 18px;
}

/* dish rates */
.vpx-dish-rates {
	border-bottom: 1px dotted #000;
	font-size: small;
	font-weight: bold;
}

/* info */
.vpx-info {
	background-color: #FFEFD5;
}