body {
	/*font-size: 0.8em;*/
}

/* header */

.header .content {
    margin: 0 auto;
    width: 300px;
    height: 90px;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    position: relative;
}

.kw {
    display: inline;
    color: #d00;
}

.intro {
    margin: 0 auto 20px;
    width: 460px;
}

a,a:hover,a:focus,a:active {
    color: #d00;
}

/* footer */

.footer a {
	color: #000;
}

.footer p {
	text-indent: 0;
	position: absolute;
	left: 0;
	bottom: 4px;
	width: 800px;
	padding: 0;
	color: #000;
	font: 0.8em helvetica, arial, sans-serif;
	text-align: center;
}

/* query */

input.hint {
    color: #AAAAAA;
}

#cuisine1,#cuisine2,#cuisine3,#add {
    width: 150px;
}

table#query {
    margin: 0 auto;
}

table#query a, #query input, #query select {
	vertical-align: middle	
}

table#query .label {
    line-height: 30px;
    width: 60px;
    text-align: left;
}

table#query #name {
    width: 394px;
}

table#query #address {
    width: 325px;
}

/* buttons and links */

a.button, input.button {
    cursor: pointer;
    opacity: .75;
    display: inline-block;
    background-color: darksalmon;
    color: #333;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    /*font: 200 16px/1 "Bebas Neue", "League Gothic", Haettenschweiler, sans-serif;*/
    letter-spacing: .5px;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

a.button:hover,a.button:focus,a.button:active,input.button:hover {
    background-color: coral;
    text-decoration: none;
}

/* results */

table#results {
    height: 100%;
    width: 98%;
    margin: 0 auto;
}

table#results td {
    padding: 10px 5px;
    border-bottom: 1px dashed darksalmon;
}

table#results .name {
    width: 200px;
    font-size: 1.1em;
    text-align: left;
}

table#results .distance {
    width: 80px;
    text-align: right;
}

table#results .desc {
    font-size: 0.9em;
    text-align: left;
}

table#results .menu {
    width: 100px;
}

/* misc */

p {
    text-indent: 4em;
    padding: 0 0 1em;
    color: #666;
    font: 1.1em/1.4em helvetica, arial, sans-serif;
}

ul {
    color: #666;
    font: 1.1em/1.4em helvetica, arial, sans-serif;
}

li {
    text-index: 0;	
}

h1 {
    padding: 0.3em 0 0.4em;
    font: 1.4em helvetica, arial, sans-serif;
    font-weight: normal;
}

h2 {
    padding: 0 0 0.6em;
    color: #d00;
    font: 1.4em helvetica, arial, sans-serif;
}